.panel {
    background-color: rgb(38, 36, 54);
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 600px;
    align-items: center;
}

.image-container {
    width: 600px;
    height: 250px;
    background-color: rgb(32, 76, 21);
    border-radius: 30px;
    outline: 1px solid rgb(32, 76, 21);
    margin: 10px;
}

.text-container {
    padding: 2px;
    min-height: calc(85vh - 290px);
    width: calc(600-6px);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid rgb(32, 76, 21);
}

.text-container p {
    margin: 3px;
    height: calc(85vh - 320px);
    font-family: 'Domyouji Regular', 'Montserrat', sans-serif;
    color: rgb(152, 185, 143);
}
